.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Full viewport height */
  background: linear-gradient(10deg, #0F044D 10%, #5010b1 80%); /* Deep purple galaxy gradient */
  color: #fff;
  border-radius: 2px;
  box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
}

.homepage .content {
  text-align: center;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.553);
  border-radius: 10px;
  max-width: 600px; /* Set a max-width to prevent the content from becoming too wide */
  width: 90%; /* Ensure the content takes up most of the screen on mobile but remains within bounds */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  box-sizing: border-box; /* Ensure padding is included in the element's total width */
}

.homepage h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  word-wrap: break-word; /* Prevents long words from overflowing */
}

.homepage p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  word-wrap: break-word; /* Prevents long words from overflowing */
}

.homepage .cta-button {
  background-color: #3b09e1;
  border: none;
  padding: 0.75rem 1.5rem;
  color: #fff;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.homepage .cta-button:hover {
  background-color: #6a00f4;
}

@media (max-width: 768px) {
  .homepage h1 {
    font-size: 2rem;
  }

  .homepage p {
    font-size: 1rem;
  }

  .homepage .cta-button {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }
}
