@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a base font and color */
body {
  margin: 0;
  font-family: 'Righteous', sans-serif;
  background: linear-gradient(180deg, rgb(0, 16, 46) 48%, rgb(132, 53, 142) 97.8%);
  color: white;
  min-height: 100vh;
}

/* Add some padding and center content */
.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

/* Style the header */
header {
  background: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
}

/* Style the footer */
footer {
  background: #3e0194;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Add responsive design */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar a {
    margin: 5px 0;
  }
}
